.titulodos{
    color: #69740c;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-family: "primer-fuente";
    height: 130px;
    .oluno{
         .liuno{
            display: flex;
            justify-content: center;
            font-family: "Ephesis";
            font-size: 20px;
            color: white;

        }
    }
}