$rojo: #900;
$verde: #090;
$mediorojo: #410b06;
$violeta: violet;
$blanco: #fff;
$verdeosc:#69740c;
$negro: #0a0a0a;
$celeste:cornflowerblue;
$azulado: #b1b0f1;
$trasnparente: rgba(100, 110, 253, 0.44);

